.input {
   padding: 10px;
   width: 300px;
   height: 40px;
   background: none;
   border: 2px solid #762dff;
   border-radius: 10px;
   box-sizing: border-box;
   font-family: Comic Sans MS;
   font-size: 20px;
   color: #762dff;
   outline: none;
}